<a href="https://colab.research.google.com/github/realShinchoku/machine-learning/blob/main/btl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
rawData = pd.read_csv('https://raw.githubusercontent.com/realShinchoku/machine-learning/main/diabetes.csv')
rawData.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#Kich Co
print("Data shape: ", rawData.shape)

Data shape:  (768, 9)

In [ ]:
#Dac tinh
print("Data keys: ", np.asanyarray(rawData.keys()))

Data keys:  ['Pregnancies' 'Glucose' 'BloodPressure' 'SkinThickness' 'Insulin' 'BMI'
 'DiabetesPedigreeFunction' 'Age' 'Outcome']

In [ ]:
#tong quan
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
rawData.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
#KT rong
rawData.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
rawData.duplicated().sum()

0

In [ ]:
X = rawData.drop('Outcome',axis=1)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [ ]:
Y = rawData['Outcome']
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [ ]:
#chia ty le train : test la 9:1
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 42)
print("Shape of test data", X_test.shape)
print("Shape of train data", X_train.shape)

Shape of test data (77, 8)
Shape of train data (691, 8)

In [ ]:
#model build
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
GNB = GaussianNB()
GNB.fit(X_train,Y_train)

GaussianNB()

In [ ]:
#bang du lieu test du doan va du lieu test that
Y_pred = GNB.predict(X_test)
pd.DataFrame({"Actual_Outcome":Y_test, "Predicted_Outcome":Y_pred})

     Actual_Outcome  Predicted_Outcome
668               0                  0
324               0                  0
624               0                  0
690               0                  0
473               0                  1
..              ...                ...
512               0                  0
109               1                  0
587               0                  0
362               0                  1
734               0                  0

[77 rows x 2 columns]

In [ ]:
#Đồ thị trực quan của 2 yếu tố Thực tế và Dự đoán.
from sklearn.metrics import confusion_matrix
print(confusion_matrix(Y_test, Y_pred))

[[35 15]
 [ 8 19]]

In [ ]:
from sklearn.metrics import accuracy_score
# accuracy score on training data
X_train_prediction = GNB.predict(X_train)
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)
print('Accuracy score of training data:', training_data_accuracy)

# accuracy score on training data
test_data_accuracy = accuracy_score(Y_test, Y_pred)
print('Accuracy score of test data:', test_data_accuracy)

#sai số
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(Y_test, Y_pred)
print('Mean squared error:',mse)

Accuracy score of training data: 0.7568740955137482
Accuracy score of test data: 0.7012987012987013
Mean squared error: 0.2987012987012987